.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
    //   margin-bottom: 5px;
    }
  
    .collection-footer {
       
      width: 100%;
      height: 10%;
      background-color: black;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      align-items: center;

  
      .name {
        width: 90%;
        color: white;
        font-weight: 600;
      }

      &::before{
          content: "\00a0 \00a0 \00a0";
      }
  
      .price {
        width: 15%;
        color: white;

      }

   
    }
}