@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: medium;
  padding: 0 !important;

  /* padding: 20px 60px; */

}

a {
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;

}